@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,700;1,200;1,400;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  /* header */
  .header{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./assets\ \(3\)/banner.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow:hidden

  }
  /* navbar */
 nav{
  display: flex;
  padding: 3% 7%;
  justify-content: space-between;
  align-items: center;
  gap: 600px;
 }
 nav img{
  width:150px
 }
 
 .nav-link ul{
  display: flex;
  justify-content: end;
  gap: 40px;
  list-style: none;

 }
 .nav-link ul li a{
  color: #fff ;
  text-decoration: none;
  font-size: 15px;
 }
 .nav-link ul li::after{
content: '';
width: 0%;
height: 2px;
display: block;
margin: auto;
background: #f44336;
color: #f44336;
transition: 0.5s ease-out;
margin-top: 10px;
 }
 
 .nav-link ul li:hover::after{
  width: 100%;
  
 }
 .nav-tag:hover{
  color: #f44336;
 }
 /* textbox in header */
 .text-box{
  color: #fff;
  width: 90%;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center ;
 }
 .text-box h1{
  font-size: 62px;
    font-weight: 700;
 }
 .text-box p{
  font-size: 14px;
  margin: 10px 0 40px;
  
 }
 
.hero-btn {
  text-decoration: none;
  color: #fff;
  border:1px solid #fff;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
  
}
.hero-btn:hover{
  border: 1px solid #f44;
  background: #f44336;
  transition: 1s ease-out;
}

/* Course section */
.course-area{
 width: 80%;
 margin: auto;
text-align: center;
padding-top: 100px;
 


}
.course-area p {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  padding: 10px;
  line-height: 22px;
 
}
.course-area h1{
  font-size: 36px;

  font-weight: 600;
}
.course-card{
  display: flex;
 
  justify-content: space-between;
  margin-top: 5%;
}
.course-column{
  /* width:50%; */

  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.course-column h1{
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-align: center;
  margin: 10px 0;
}
 .course-column p{
  text-align: justify;
 }
.course-column:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
/* campus section */
.campus-area{
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}
.campus-area p {
  font-size: 16px;
  color:black;
  font-weight: 300;
  padding: 10px;
  line-height: 22px;
 
}
.campus-area h1{
  font-size: 36px;

  font-weight: 600;
}
.image-card{
  display: flex;
 
  justify-content: space-between;
  margin-top: 5%;
}
.campus-column{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 5%;
 overflow: hidden;
 position: relative;
 

 
  
}

.campus-column img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.text-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
 
  padding: 10px;
 
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1s,background-color 1s, opacity 1s;
    
}
.text-container p{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.campus-column:hover .text-container {
  opacity: 1;
  transform: translateY(-20%);
 
}


