@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,700;1,200;1,400;1,600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
 
  .container{
    overflow: hidden;
  }
  /* header */
  .header{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./assets\ \(3\)/banner.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow:hidden

  }
  /* navbar */
  nav .fa-solid {
    display: none;
    color:#fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  
  nav .fa{
    display: none;
    color:#fff;
    font-size: 22px;
    cursor: pointer;
    margin: 10px;
  }
 nav{
  display: flex;
  padding: 3% 7%;
  align-items: center;
  gap: 400px;
 }
 nav img{
  width:150px
 }
 
 .nav-link ul{
  display: flex;
  gap: 40px;
  list-style: none;

 }
 .nav-link ul li a{
  color: #fff ;
  text-decoration: none;
  font-size: 15px;
 }
 .nav-link ul li::after{
content: '';
width: 0%;
height: 2px;
display: block;
margin: auto;
background: #f44336;
color: #f44336;
transition: 0.5s ease-out;
margin-top: 10px;
 }
 
 .nav-link ul li:hover::after{
  width: 100%;
  
 }
 .nav-tag:hover{
  color: #f44336;
 }
 /* textbox in header */
 .text-box{
  color: #fff;
  width: 90%;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center ;
 }
 .text-box h1{
  font-size: 62px;
    font-weight: 500;
 }
 .text-box p{
  font-size: 14px;
  margin: 10px 0 40px;
  text-align: justify;
 }
 
.hero-btn {
  text-decoration: none;
  color: #fff;
  border:1px solid #fff;
  padding: 12px 34px;
  font-size: 15px;
  background: transparent;
  position: relative;
  cursor: pointer;
  
}
.hero-btn:hover{
  border: 1px solid #f44;
  background: #f44336;
  transition: 1s ease-out;
}

/* Course section */
.course-area{
 width: 80%;
 margin: auto;
text-align: center;
padding-top: 50px;
 


}
.course-area p {
  font-size: 14px;
  color: #777;
  font-weight: 300;
  padding: 10px;
  line-height: 22px;
 text-align: center;
}
.course-area h1{
  font-size: 36px;

  font-weight: 500;
}
.course-card{
  display: flex;
 
  justify-content: space-between;
  margin-top: 5%;
  flex-wrap: wrap;
}
.course-column{
  /* width:50%; */

  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.course-column h1{
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-align: center;
  margin: 10px 0;
}
 .course-column p{
  text-align: justify;
 }
.course-column:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
/* campus section */
.campus-area{
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 20px;
}
.campus-area p {
  font-size: 16px;
  color:black;
  font-weight: 300;
  padding: 10px;
  line-height: 22px;
 text-align: justify;
}
.campus-area h1{
  font-size: 36px;

  font-weight: 500;
  
}
.image-card{
  display: flex;
 
  justify-content: space-between;
  margin-top: 5%;
  flex-wrap: wrap;
}
.campus-column{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 5%;
 overflow: hidden;
 position: relative;
 

 
  
}

.campus-column img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}

.text-container {
  position: absolute;
  bottom: 0;
  left: 25%;
  width: 100%;
  height: 50%;
 
  padding: 10px;
 
  opacity: 0;
  transform: translateY(100%);
  transition: transform 1s,background-color 1s, opacity 1s;
}
.text-container p{
  color: #fff;
  font-size: 30px;
  font-weight: 500;
}
.campus-column:hover .text-container {
  opacity: 1;
  transform: translateY(-20%);
 
}

/* facility section */

.facilities-section{
  width: 80%;
  text-align: center;
  margin: auto;
  padding-block: 10px;
}
.facilities-section p {
  font-size: 16px;
  color: #777;
  font-weight: 300;
  padding: 0px;
  line-height: 22px;
 text-align: justify;
}
.facilities-section h1{
  font-size: 36px;

  font-weight: 500;
}
.facilities-card{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  flex-wrap: wrap;
}
.facilities-column{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 5%;
 
}
.facilities-column img{
  height: 300px;
  border-radius: 20px;
}

.facilities-column h1{
  font-size: 18px;
  font-weight: 500;
  color: black;
  text-align: center;
  margin: 10px 0;
}
 .facilities-column p{
  text-align: justify;
 }
 /* student say */
 .student-section{
  width: 80%;
  text-align: center;
  margin: auto;
  /* padding-block: 10px; */
}
.student-section p {
  font-size: 16px;
  color: #777;
  font-weight: 100;
  padding: 10px;
  line-height: 22px;
  text-align:justify;
 
}
.student-section h1{
  font-size: 36px;

  font-weight: 500;
}
.student-card{
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
  flex-wrap: wrap;
}
.student-column{
flex-basis: 48%;

display: flex;
border-radius: 10px;
background: #fff3f3;
padding: 25px;
text-align: left;
}
.student-column img{
  height: 40px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;
}
.student-column p{
  text-align: justify;
  padding: 0;
}
.student-column h3{
  margin-top: 15px;
  text-align: left;
}
/* cta section */
.cta{
  width: 100%;
  background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./assets\ \(3\)/banner2.jpg);

    background-size: cover;
    background-position: center;
    /* position: relative; */
    background-attachment: fixed;
    margin: 100px auto;
    border-radius: 10px;
    text-align: center;
    padding: 50px 0;
    height:500px;
    
}
.cta-content h1{
 
  text-align: center;
  margin-top: 80px;
  color:aliceblue;
  margin-bottom: 20px;
  padding: 0;
  line-height: 80px;
  font-size: 30px;
}
/* footer section */
.footer{
text-align: center;
width: 80%;
margin: auto;
margin-inline: 100px;
}
.footer h4{
  margin-bottom: 20px;
  font-weight: 600;
}
.footer p{
  justify-content: justify;

}
.icons .fa{
color:blue;
margin: 0 13px;
cursor: pointer;
padding: 18px 0;

}
/* About US page */
.About-header{
  width:100%;
  height:50vh;
  background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(./assets\ \(3\)/background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  color:#fff;

}
.About-header h1{
  margin-top: 54px;
  font-size: 35px;
  text-align: center;
}
.About-Content{
  display: flex;
  width: 80%;
  margin: auto;
  margin-block: 100px;
flex-wrap: wrap;  
justify-content:space-evenly;
}
.Content-right img{
height:auto;
width: 500px;
}
.Content-left h1{
margin-bottom: 10px;
font-size: 27px;
font-weight: 500;
}
.Content-left p{
  margin-bottom: 25px;
  font-size: 14px;
  text-align: justify;
  
}
.Content-left{
  flex-basis: 35%;
}

.ExploreNow-btn{
  
    text-decoration: none;
    color:#0d6efd;
    border:1px solid red;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
    
  }
  .ExploreNow-btn:hover{
    color: #fff;
    background: #0d6efd;
    border: none;
  }
/* Blog page */
.Blog-Content{
  display: flex;
  width: 80%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 40px;
  gap: 20px;
  flex-wrap: wrap;
  
}
.Blog-left {
flex-basis: 55%;

}
.Blog-left img{
  width: 100%;
}
.Blog-left h1{
  font-size: 40px;
  color: #222;
  
}
.Blog-right{
  flex-basis: 37%;
  justify-content: flex-end;
 
}
.Blog-left p{
text-align: justify;
}
.Blog-right h3{
  background-color: #f44336;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-bottom: 20px;
}
.Blog-right div{
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
}

.comment-box{
  border: 1px solid #ccc;
  margin: 50px 0;
  padding: 10px 20px;
}
.comment-box h3{
  text-align: left;
}
.comment-form input,.comment-form textarea{
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  background:aquamarine;
}
.comment-form button{
  margin: 10px 0;
}
/* contact page */
.contact-us{
  display:flex;
  width: 80%;
  margin:auto;
  margin-block: 30px;
flex-wrap: wrap;
justify-content: space-between;

}
.contact-column{
  flex-basis: 38%;
  margin-bottom: 30px;
}

.contact-column div{
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.contact-column div .fa{
  font-size: 28px;
  color: #f44336;
  margin-right: 10px;
  margin: 10px;
}
.contact-column div h5{
font-size: 20px;
margin-bottom: 5px;
color:#555;
font-weight: 400;
display: block;
}
.contact-column div p{
padding: 0;
}
.contact-form input,.contact-form textarea{
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  outline: none;
align-items: center;}